body { background: #a2634; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 45px; display: flex; }
.block-cache-0 { color: #8b9586; font-size: 12px; margin-bottom: 5px; }
.block-cache-1 { color: #b02e57; font-size: 15px; margin-bottom: 5px; }
.block-uploader-2 { color: #a46e25; font-size: 21px; margin-bottom: 5px; }
.block-product-3 { color: #58bec6; font-size: 12px; margin-bottom: 5px; }
.block-user-4 { color: #a797d2; font-size: 16px; margin-bottom: 5px; }